In [6]:
import pandavro as pdx
import pandas as pd
import matplotlib as plt
from matplotlib import pyplot as plt, ticker as mticker
import json
import numpy as np

In [7]:
from IPython.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [8]:
filename='/tmp/etude/report.avro'
df = pdx.from_avro(filename)
len(df)

3242

In [9]:
df.explode('interactions')

                                           interactions
0     {'input': [941779], 'output': [1, 2, 3, 4, 5, ...
1     {'input': [551900], 'output': [1, 2, 3, 4, 5, ...
1     {'input': [551900, 151012], 'output': [1, 2, 3...
2     {'input': [985971], 'output': [1, 2, 3, 4, 5, ...
2     {'input': [985971, 238786], 'output': [1, 2, 3...
...                                                 ...
3240  {'input': [146050], 'output': [1, 2, 3, 4, 5, ...
3240  {'input': [146050, 388853], 'output': [1, 2, 3...
3241  {'input': [971744], 'output': [1, 2, 3, 4, 5, ...
3241  {'input': [971744, 724034], 'output': [1, 2, 3...
3241  {'input': [971744, 724034, 382990], 'output': ...

[7697 rows x 1 columns]